<html>
<head>
<title>Add Employee</title>
<link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
<form method="POST" action="/add-employee">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="name" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number:</label>
    <input type="phone" class="form-control" id="phone" name="phone">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>

